<!-- as partial é utilizada quando um codigo vai ser reutilizado para todas as views html, nesse caso em todas as paginas vamos querer esses link no inicio -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yahoo Clone</title>
    <!-- o express sabe que esta na pasta public pois foi informado na config entao nao precisa utilizar o public no inicio -->
    <!-- importar o css do bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- nosso estilo css, ele deve ser carregado apos o bootstrap -->
    <link rel="stylesheet" href="/css/style.css">
    
</head>